.element__likes {
  min-width: 22px;
  min-height: 19px;
  background-image: url("./../../../images/heart.svg");
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}

.element__likes:hover {
  opacity: 50%;
}
