.popup__reset-button {
  position: absolute;
  left: calc(100% - 10px);
  bottom: calc(100% - 10px);
  background-image: url("./../../../images/closeIcon.svg");
  background-color: transparent;
  margin: 0;
  padding: 0;
  border:none;
  width: 57px;
  height: 57px;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
}

.popup__reset-button:hover {
  opacity: .6;
}

@media screen and (max-width: 700px) {
  .popup__reset-button {
    width: 37px;
    height: 37px;
    left: calc(100% - 37px);
    bottom: calc(100% + 13px);
  }
}
